<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.investosurestart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login_Activity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".HomePage"
            android:theme="@style/AppTheme2" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".LearnActivity"
            android:label="@string/title_activity_learn"
            android:theme="@style/AppTheme" />
        <activity android:name=".PiechartActivity" />
        <activity
            android:name=".Mutual_details"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".SeeAllMutualActivity"
            android:theme="@style/AppTheme2" />
        <activity android:name=".QuestionActivity" />
        <activity
            android:name=".LearninDetail"
            android:theme="@style/AppTheme2" />
        <activity android:name=".Call_activity" />
        <activity android:name=".CompairActivity" />
        <activity android:name=".Compair_in_detail"></activity>
    </application>

</manifest>